packages/subgraph/subgraph.yaml
packages/subgraph/generated
packages/subgraph/abis/*
**/aws.json

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
**/node_modules

packages/hardhat-ts/artifacts*
packages/hardhat-ts/deployments
packages/hardhat-ts/generated*
packages/hardhat-ts/*.txt
packages/hardhat-ts/mnemonic.secret
packages/app/src/contracts/*
!packages/app/src/contracts/external_contracts.js
packages/hardhat-ts/cache*
packages/**/data
!packages/app/src/contracts/contracts.js
packages/app/src/generated/*
packages/app/dist/*

# ts
packages/hardhat-ts/cache
# secrets
.secret

packages/subgraph/config/config.json
tenderly.yaml

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
coverage

# production
build
# yarn / eslint
.yarn/cache
.yarn/install-state.gz
.yarn/build-state.yml
.yarn/**
.eslintcache
# testing
coverage

# production
build

#Hardhat files
cache
artifacts

# misc
.DS_Store
.env*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea

# Local Netlify folder
.netlify
*.tsbuildinfo
*.stackdump
.yalc
yalc.lock
packages/vite-app-ts/dist
